@use "@picocss/pico/scss/pico" with (
  $css-var-prefix: "--expense-",
  $theme-color: "zinc",
  $semantic-root-element: "#root",
  $enable-semantic-container: true
);

body {
  min-height: 100dvh;
}

// Dark Theme
:root {
  --expense-background-color: linear-gradient(to right, #e33c3c, #23203f 80%);
  --expense-font-family: "DMSans", sans-serif;
  --expense-color: #ffffff;
  --expense-h1-color: #fff;
  --expense-h2-color: #fff;
  --expense-text-secondary-color: #e3b53c;
  --expense-primary-background: #e3823c;
  --expense-nav-bar-color: #23203f;
  --expense-card-sectioning-background-color: #19173d;
  --expense-card-background-color: #1c173d;
  --expense-form-background-color: #25223fe9;
  --expense-form-header-color: #25223f;
  --expense-muted-color: #cac9c9;
  --expense-fill-color: #e3b53c;
  --expense-chart-fill-color: #3e198c;
  --expense-fill-cash-color: #8efdad;
  --expense-fill-one-color: #a858ee;
  --expense-fill-credit-color: #14a9b7;
  --expense-fill-bank-color: #a77e7e;
  --expense-primary-inverse: #fff;
  --expense-header-card-color: #cac9c9;
  --expense-form-element-border-color: #fff;
  /* Text Field Styles */
  --expense-textfield-background-dark: #444444; /* Dark gray background for text fields in dark mode */
  --expense-textfield-color: #ffffff; /* White text color for text fields in dark mode */
}

// Light Theme
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --expense-background-color: #ffffff;
  --expense-color: #23203f;
  --expense-h1-color: #23203f;
  --expense-h2-color: #23203f;
  --expense-text-secondary-color: #e3b53c;
  --expense-primary-background: #e3823c;
  --expense-nav-bar-color: #23203f;
  --expense-card-sectioning-background-color: #f0f0f0;
  --expense-card-background-color: #ffffff;
  --expense-form-background-color: #f5f5f5;
  --expense-form-header-color: #ffffff;
  --expense-muted-color: #5d5353;
  --expense-fill-color: #e3b53c;
  --expense-chart-fill-color: #3e198c;
  --expense-fill-cash-color: #8efdad;
  --expense-fill-one-color: #a858ee;
  --expense-fill-credit-color: #14a9b7;
  --expense-fill-bank-color: #a77e7e;
  --expense-primary-inverse: #000000;
  --expense-header-card-color: #ffff;
}

@font-face {
  font-family: "DMSans";
  src: url("./assets/fonts/DMSans-Regular-BF64376d323f095.ttf")
    format("truetype");
}

@font-face {
  font-family: "DMSans";
  src: url("./assets/fonts/DMSans-Bold-BF64376d32191f2.ttf") format("truetype");
  font-weight: 600;
}

html,
body {
  font-family: "DMSans", sans-serif;
}
select,
input {
  background-color: var(--expense-card-background-color);
}

.MuiSvgIcon-root {
  color: var(--expense-primary-background);
}

.MuiDrawer-root .MuiPaper-root {
  background-color: var(--expense-card-background-color) !important;
}

.MuiInputBase-root {
  background-color: var(--expense-textfield-background) !important;
  color: var(--expense-textfield-color) !important;
  border-radius: 4px;
  padding: 10px;
}

.button-more-info {
  // background-color: var(--expense-button-primary-color);

  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  position: relative;
  top: 3px;
}

#root {
  margin: 0 auto;
  min-height: 100dvh;
  text-align: center;
  background: var(--expense-background-color);
  display: grid;
  grid-template-rows: 75px 1fr;
}

header#main-header {
  background-color: var(--expense-nav-bar-color);
  max-width: 100% !important;
  height: 75px;
  justify-content: center;
  align-content: center;

  > nav {
    margin: 0 auto;
    padding: 0 1rem;
    @media screen and (min > 576px) {
      max-width: 510px;
    }
    @media screen and (width > 768px) {
      max-width: 700px;
    }
    @media screen and (width > 1024px) {
      max-width: 950px;
    }

    > ul > a > li {
      font-size: xx-large;
      padding: 0;
    }

    button[type="button"] {
      margin-bottom: 0;
    }
  }
}

main {
  max-width: 1280px;
  //background-color: beige;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: var(--pico-block-spacing-vertical) 0 !important;
  p {
    a {
      color: var(--expense-text-secondary-color);
    }
    color: var(--expense-text-primary-color);
  }
}

#login-form,
#signup-form {
  margin: auto;
  padding: 0rem 0.5rem 3rem 0.5rem;

  @media screen and (width > 576px) {
    padding: 0rem 2rem 3rem 2rem;
  }

  h4 {
    color: var(--expense-text-secondary-color);
    font-family: var(--expense-font-sans-bold);
  }
}

#landing-page-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .parallax {
    /* The image used */
    //background-image: url("https://picsum.photos/500/300");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.parallax {
    margin-bottom: 2rem;
  }
  h2 {
    margin-bottom: 0;
  }
  button {
    margin: 0 auto 3rem auto;
    max-width: 500px;
  }
}

div.expense-table-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  overflow: auto;
  //white-space: nowrap;

  table.expense-table {
    border: none;
    background-color: var(--expense-card-background-color);

    tr {
      display: flex;
      width: fit-content;

      th {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray.400;
        padding: 0.5rem;
        font-weight: bold;
        font-size: xs;
        text-transform: uppercase;
        text-align: center;
      }
      td {
        color: var(--expense-muted-color);
        > input {
          margin: 1;
          padding: 0.2rem;
          background-color: transparent;
          max-width: 100%;
        }
      }
      .date-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  .resizer {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background-color: #27bbff;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    border-radius: 6px;
  }
  .resizer.isResizing {
    background-color: #2eff31;
    opacity: 1;
  }
  *:hover > .resizer {
    opacity: 1;
  }
}

.collapsible-form {
  padding: 0rem 3rem 3rem 3rem;
  margin-top: 2rem;

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  input,
  select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;
  }

  .tooltip {
    display: inline;
  }

  small {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-style: italic;
    color: #928d8d;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
    justify-content: flex-start;
  }

  button {
    margin-top: 1rem;
  }

  input[type="checkbox"] {
    margin-left: 1rem;
    width: auto;
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
    border: 1px solid #ccc; /* Border for custom checkbox */
    border-radius: 4px; /* Rounded corners */
    width: 16px; /* Size of checkbox */
    height: 16px; /* Size of checkbox */
    background-color: rgb(223, 223, 231); /* Background color of the checkbox */
    cursor: pointer; /* Show pointer cursor on hover */
  }

  /* Style for the checked state of the checkbox */
  input[type="checkbox"]:checked {
    background-color: var(--expense-text-secondary-color);
  }

  .muiCard-root {
    margin-bottom: 1rem; /* Add margin between cards */
    border: 1px solid #ece9e9; /* Example border for cards */
    border-radius: 8px; /* Rounded corners for cards */
    box-shadow: 0 2px 4px rgba(235, 2, 2, 0.1); /* Shadow effect for cards */
  }
  .muiCardHeader-root {
    background-color: var(
      --expense-form-header-color
    ); /* Background color for card header */
    color: var(--expense-primary-inverse);
    padding: 12px 16px; /* Padding for card header */
    border-bottom: 1px solid #ccc; /* Bottom border for card header */
  }
  .muiCardContent-root {
    background-color: var(
      --expense-form-background-color
    ); /* Background color for card content */
    padding: 16px; /* Padding inside card content */
  }
  .MuiCardHeader-title {
    font-size: 18px; /* Set the desired font size */
  }
}

#add-expense-form,
#update-expense-form,
#user-form {
  .MuiCardHeader-action {
    visibility: hidden;
  }
}

// utilities

.button-small {
  padding: 0.25rem;
}

.align-right {
  margin-left: auto;
}

.splide > div.splide__track[aria-busy="true"]::before {
  display: block;
  width: 0;
  height: 0;
  background-image: none;
  background-size: 0;
  background-repeat: no-repeat;
  content: "";
}

.wallet-summary-card {
  max-width: 375px;
  margin: 1rem auto;

  > header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    > p {
      margin: 0;
      font-weight: 600;
    }
  }

  > section {
    text-align: left;
    font-size: smaller;
    p {
      margin-bottom: 5px;
      &.push-apart {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  > footer {
    display: flex;
    justify-content: space-between;
    > button {
      margin-bottom: 0;
    }
  }
}

.hidden {
  visibility: hidden;
  height: 0;
}

//user profile
.small {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-style: Bold;
}

//dashboard
.css-1vuxth3-MuiBarElement-root {
  fill: var(
    --expense-fill-color
  ) !important; /* Override fill color for expense bars */
}
.css-6kig8r-MuiBarElement-root {
  fill: var(
    --expense-chart-fill-color
  ) !important; /* Override fill color for expense bars */
}
.MuiChartsLegend-root .MuiChartsLegend-series rect.MuiChartsLegend-mark {
  fill: var(--expense-fill-color) !important;
}

.MuiChartsLegend-root
  .MuiChartsLegend-series:nth-child(2)
  rect.MuiChartsLegend-mark {
  fill: var(--expense-chart-fill-color) !important;
}
.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tickLabel {
  fill: var(--expense-color) !important;
  font-style: italic;
}

//pie chart

.MuiPieArc-root:nth-child(1) {
  fill: var(--expense-fill-color) !important; /* Color for the first slice */
}
.MuiChartsLegend-series:nth-child(1) rect {
  fill: var(
    --expense-fill-color
  ) !important; /* Match text color with 1 slice color */
}

.MuiPieArc-root:nth-child(2) {
  fill: var(--expense-chart-fill-color) !important; /* Color for the 2 slice */
}
.MuiChartsLegend-series:nth-child(2) rect {
  fill: var(
    --expense-chart-fill-color
  ) !important; /* Match text color with 2 slice color */
}

.MuiPieArc-root:nth-child(3) {
  fill: var(--expense-fill-credit-color) !important; /* Color for the 3 slice */
}
.MuiChartsLegend-series:nth-child(3) rect {
  fill: var(
    (--expense-fill-credit-color)
  ) !important; /* Match text color with 3 slice color */
}

.MuiPieArc-root:nth-child(4) {
  fill: var(--expense-fill-bank-color) !important; /* Color for the 3 slice */
}
.MuiChartsLegend-series:nth-child(4) rect {
  fill: var(
    (--expense-fill-bank-color)
  ) !important; /* Match text color with 3 slice color */
}

.css-1mhcdve-MuiPieArc-root {
  stroke: var(--expense-card-background-color) !important;
  stroke-width: 1.5;
}

#language-dropdown > summary::after {
  display: none;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: var(--expense-header-card-color) !important;
}
