@use "@picocss/pico/scss/pico" with (
  // Theme color
  // amber, azure, blue, cyan, fuchsia, green, grey, indigo, jade, lime, orange, pink, pumpkin, purple, red, sand, slate, violet, yellow, zinc
  $theme-color: "zinc",

  // Define the root element used to target <header>, <main>, <footer>
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: "#root",

  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true
);

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rag-green {
  color: green
}
.rag-red {
  color: red
}